.navElement {
    background-color: #005d37;
    color: white;
    vertical-align: middle;
    text-decoration: none;
}
.navElement:hover {
    background-color: white;
    color: #005d37;
    vertical-align: middle;
    text-decoration: none;
}

.textblack {
    color: black;
}

.textred {
    color: #c12e2a;
}

.textgreen {
    color: #005d37;
}

.whitelink {
    color: white;
    text-decoration: none;
}

.whitelink:active {
    color: white;
    text-decoration: none;
}

.whitelink:visited {
    color: white;
    text-decoration: none;
}

.whitelink:hover {
    color: black;
    text-decoration: none;
}

.whitelink:after {
    color: white;
    text-decoration: none;
}

.blacklink {
    color: black;
    text-decoration: none;
}

.blacklink:active {
    color: black;
    text-decoration: none;
}

.blacklink:visited {
    color: black;
    text-decoration: none;
}

.blacklink:hover {
    color: #005d37;
    text-decoration: none;
}

.blacklink:after {
    color: black;
    text-decoration: none;
}

.greyBackground{
    background-color: #999999;


}

